<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>415848444307-u1l88980sakekb0lea5v4jk83fgnm9gf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.415848444307-u1l88980sakekb0lea5v4jk83fgnm9gf</string>
	<key>API_KEY</key>
	<string>AIzaSyAiunET_zGvocXAcHMtp9HYfh2bjeb3x3g</string>
	<key>GCM_SENDER_ID</key>
	<string>415848444307</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hotspot.epicnet</string>
	<key>PROJECT_ID</key>
	<string>epichotspot-373d0</string>
	<key>STORAGE_BUCKET</key>
	<string>epichotspot-373d0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:415848444307:ios:99a0efe0ad154bd6</string>
	<key>DATABASE_URL</key>
	<string>https://epichotspot-373d0.firebaseio.com</string>
</dict>
</plist>