page-client-home {
  .scroll-content {
    overflow: auto !important;
  }
  ion-auto-complete {
    width: 100vw;
    padding: 0px 16px 8px;
    ul {
      width: 90vw;
      max-height: 65vh;
      overflow: auto;
      li {
        padding: 8px;
        .item-md.item-block .item-inner {
          padding: none !important;
        }
      }
    }
  }
  .help {
    color: #47624F;
    font-family: Roboto;
    font-size: 13px;
    letter-spacing: -0.03px;
    line-height: 15px;
  }
  ion-content,
  .content-ios,
  .content-md {
    background-color: #F6F6F6;
  }
  ion-card,
  .card-ios,
  .card-md {
    background-color: transparent !important;
    box-shadow: none;
    ion-item {
      background-color: transparent !important;
      color: color($colors, 'secondary');
      font-family: Roboto;
      font-size: 14px;
      font-weight: 500;
      letter-spacing: -0.03px;
      line-height: 16px;
      padding-left: 0px;
      span {
        color: #4A4A4A;
        font-family: Roboto;
        font-size: 12px;
        letter-spacing: -0.02px;
        line-height: 14px;
        text-align: right;
        position: absolute;
        right: 12px;
      }
    }
    ion-card-content.card-content-ios,
    ion-card-content.card-content-md {
      padding: 12px !important;
      background-color: $white;
      border: 1px solid rgba(235, 234, 234, 1);
      border-radius: 3px;
      box-shadow: -1px 1px 4px 0 rgba(0, 0, 0, 0.1);
      ion-list {
        margin: -12px 0;
        border: none;
        .item-block:first-child {
          border-top: none;
        }
        .item-block:last-child {
          border-bottom: none;
        }
        ion-item,
        [ion-item] {
          padding-left: 0px !important;
          border-bottom: 1px solid #D8D8D8;
        }
        .heading {
          color: #4A4A4A;
          font-family: Roboto;
          font-size: 16px;
          font-weight: 500;
          letter-spacing: -0.03px;
          line-height: 19px;
          span.amount {
            color: #246D6E;
            font-family: Roboto;
            font-size: 16px;
            font-weight: 500;
            letter-spacing: -0.03px;
            line-height: 19px;
            text-align: right;
            position: absolute;
            right: 12px;
            top: 12px;
          }
        }
        .info {
          color: rgba(94, 94, 94, 1);
          font-family: Roboto;
          font-size: 13px;
          letter-spacing: -0.03px;
          line-height: 15px;
        }
        .note {
          color: rgba(155, 155, 155, 1);
          font-family: Roboto;
          font-size: 12px;
          font-style: italic;
          letter-spacing: -0.02px;
          line-height: 14px;
        }
      }
      .card-content-title {
        font-family: Roboto;
        font-size: 30px;
        font-weight: bold;
        letter-spacing: 0.3px;
        line-height: 35px;
      }
      ion-grid {
        padding: 0px !important;
        ion-col {
          button {
            position: absolute;
            bottom: 0;
            right: 0;
          }
        }
      }
    }
  }
}
